* {
  all: unset; // Unsets everything so you can style everything from scratch
}

// Global Styles
.bar {
  background-color: transparent;
  color: #ffffff;
}
time{
 all:unset;
 border-radius: 30px;
border: black 3px solid;
}
.workspaces button:hover {
  color: #D35D6E;
}

