* {
        font-weight:bold;
        font-family: 'SF Pro Text','JetBrainsMono Nerd Font Propo', sans-serif;

}

window#waybar {
        background-color: #1B1716;
        border-radius: 15px;
        color: #ffffff;
        transition-property: background-color , color , opacity;
        transition-duration: .5s;
}

window#waybar.hidden {
        opacity: 0.2;
}
tooltip{
background-color: rgba(4 ,84 ,199 , 0.8);
color: black;
opacity: 100;
border-radius: 30px;
border: 1px solid black;
}

#group-button {
        background-color: white;
        color: black;
        border-radius: 30px;
        font-size: 20px;
        margin-left: 5px;
        padding: 0px 9px 0px 6px;
}
#group-button:hover {
        border-radius: 30px;
        font-size: 24px;
        margin-left: 5px;
        padding: 0px 9px 0px 6px;
        background-color: rgba(94 , 134 , 239 , 0.8);
        color: white;
        transition: cubic-bezier(0.19, 1, 0.22, 1);
        transition-duration: 1s;
}

#custom-button {
        font-size: 23px; 
        border-radius: 300px;
        margin-left: 3px;
}
#custom-button:hover {
        font-size: 25px; 
        border-radius: 300px;
        margin-left: 3px;
        color: rgb(34 , 84 , 299);
        transition: cubic-bezier(0.19, 1, 0.22, 1);
        transition-duration: 1s;
}
#custom-button2:hover {
        font-size: 25px; 
        border-radius: 300px;
        margin-left: 3px;
        color: rgb(34 , 84 , 299);
        transition: cubic-bezier(0.19, 1, 0.22, 1);
        transition-duration: 1s;
}
#custom-button2 {
        font-size: 20px; 
        border-radius: 300px;
        margin-left: 3px;
}
#custom-power{
        font-size: 20px;
        margin-left: 5;
}
#custom-quit{
        font-size: 21px;
        margin-left: 5;
        margin-bottom:0px ;

}
#custom-lock{
        font-size: 22px;
        margin-left: 5px;
        margin-bottom:2px ;
}
#custom-reboot{
        font-size: 22px;
        margin-left: 5px;
        margin-bottom:2px ;
}

#clock {
        background-color: white;
        color:black;
        border-radius:30px;
        padding:8px;
        margin-left: 5px;
        border: 0.7px solid black;
        font-size:13px;
}
#clock:hover{
    background-color: rgba(94 , 134 , 239 , 0.8);
        color: white;
        padding: 8px;
        border-radius:30px; 
        font-size:16px;
        transition: cubic-bezier(0.19, 1, 0.22, 1);
        transition-duration: 1s;
              }

#workspaces {
    background-color: rgba(10, 25, 70, 0.25); 
    border-radius: 20px;
    border: 1px solid rgba(4, 84, 184, 0.5);
    padding: 3px 6px;
}
#workspaces button {
    background-color: transparent;
    color: lightblue;
    padding: 0px 10px;
    font-size: 15px;
    border-radius: 15px;
}                                     
#workspaces button:hover {
    background-color: rgba(94 , 134 , 239 , 0.7);
    color: #ffffff;
    border-radius: 40px;
    font-size: 22px;
    padding: 4 11px;
    margin: 0 11px;
   transition: cubic-bezier(0.19, 1, 0.22, 1);
   transition-duration: 0.4s;
   transition: background-color 0.3s ease;
}

#workspaces button.active:hover {
    background-color: rgba(94 , 134 , 239 , 0.8);
    color: #ffffff;
    border-radius: 40px;
    font-size: 24px;
    padding: 4 11px;
    margin: 0 11px;
   transition: cubic-bezier(0.19, 1, 0.22, 1);
   transition-duration: 0.3s;
   transition:linear 0.3s;
}

#workspaces button.active {
    background-color: rgba(255,255,255, 0.9);
    transition: cubic-bezier(0.19, 1, 0.22, 1);
    transition-duration: 1.5s;
    color: black;
    border-radius: 20px;
    font-size: 23px;
    padding-left: 8px;
    margin-left: 8px;
    padding-right: 8px;
    margin-right: 8px;
   
}
#workspaces button.empty:hover{
   font-size: 10px;
    background-color: rgba(94 , 134 , 239 , 0.4);
    color: gray;
    border-radius: 40px;
    padding: 4 11px;
    margin: 3 11px;
   transition: cubic-bezier(0.19, 1, 0.22, 1);
   transition-duration: 0.3s;
   transition:linear 0.3s;
}
#workspaces button.empty{
   font-size: 10px;
   color: gray;
}
#workspaces button.urgent {
        background-color: rgba(4,84,184,1);
        color: white;
        margin-left: 6px;
        margin-right: 6px;
        padding-left: 6px;
        padding-right: 6px;
        border-radius: 30px;
       transition: cubic-bezier(0.19, 1, 0.22, 1);
       transition-duration: 2s;
}

#pulseaudio {
        background-color: white;
        color: black;
        padding:8px;
        border-radius:30px; 
}

#pulseaudio:hover {
    background-color: rgba(94 , 134 , 239 , 0.8);
        color: white;
        padding: 8px;
        border-radius:30px; 
        font-size:17px;
        transition: cubic-bezier(0.19, 1, 0.22, 1);
        transition-duration: 1s;
}
#pulseaudio.muted {
        background-color: rgba(4,84,184,1);
        color: white;
        border-radius: 30px;
        border:0.8px solid white;
        transition: cubic-bezier(0.19, 1, 0.22, 1);
        transition-duration: 1s;
        font-size: 18px;
}

#battery {
        background-color: #ffffff;
        color: #000000;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius:30px;
        font-size: 16px;
        padding: 0px 12px 0px 12px;
        margin-right: 5px;
        margin-left: 5px;
        transition: cubic-bezier(0.19, 1, 0.22, 1);
        transition-duration: 0.4s;
}
#battery:hover{
    background-color: rgba(94 , 134 , 239 , 0.8);
        color: white;
        padding: 0px 12px 0px 12px;
        border-radius:30px; 
        font-size:18px;
        transition: cubic-bezier(0.19, 1, 0.22, 1);
        transition-duration: 1s;

}

#network {
        background-color: white;
        border-radius:30px;
        color:black;
        margin-right: 5px;
        padding: 0px 10px;
}

#network.disconnected {
        background-color: #f53c3c;
        font-size: 15px;
        transition:cubic-bezier(0.19, 1, 0.22, 1);
        transition-duration: 2s;
        color: white;
}
#network:hover{
    background-color: rgba(94 , 134 , 239 , 0.8);
        color: white;
        padding: 8px;
        padding-left: 10px;
        border-radius:30px; 
        font-size:16px;
        transition: cubic-bezier(0.19, 1, 0.22, 1);
        transition-duration: 1s;

}

#tray {
        background-color: transparent;
        border-radius: 30px;
        padding: 0px;
        margin-left:1px;

}

#tray > .tray-icon {
        font-size: 30px; /* Adjust size as needed */
        margin: 0 4px;
        color:transparent;
}


