window {
background-color: rgba(0,0,0, 0.01);
    color: white;
 border: 2px solid steelblue;
    border-radius: 20px;
}
entry {
        background-color: rgba(0,0,0, 0.4);
        border: white solid 0.2px;
}

button, image {
    background:transparent;
    border: none;
}
button{
background-color: rgba(255,255,255,0.001);
font-size: 10.0px;
margin-bottom: 11px;
color: white;

}

button:hover {
   background-color: rgba(255,255,255,0.2);
        border-radius:12px;
 font-weight: 500;
}

#category-button {
    margin: 0 10px 0 10px;
    font-size: 14px;
}

#pinned-box {
    padding-bottom: 5px;
    border-bottom: 1px dotted gray;
        font-size: 11px;
}

#files-box {
    padding: 5px;
    border-radius: 15px;
    background-color:transparent
}

#math-label {
    font-weight: bold;
    font-size: 16px;
        background-color: transparent;
}
