* {
        font-weight:600;
        font-family: 'SF Pro Text','JetBrainsMono Nerd Font Propo', sans-serif;

}

window#waybar {
        background: linear-gradient(135deg,
                rgba(18,39,78, 0.3) 0%,
                rgba(18,39, 78, 0.3) 40%,
                rgba(18, 39, 78, 0.3) 100%);  

}

window#waybar.hidden {
        opacity: 0.2;
}
tooltip{
        background-color: rgba(49,49,49,0.9);
        box-shadow: none;
border-radius: 20px;}

       /* background: linear-gradient(135deg,
                rgba(41, 41, 206, 0.20) 0%,
                rgba(43, 49, 157, 0.33) 40%,
                rgba(43, 49, 175, 0.37) 100%);
*/
