#group-terminal{
}
#custom-tyler{
font-size: 18px;
padding: 0;
margin-left: 8px;
margin-right: 16px;
}
#custom-window_title{
font-size: 11.6px;
font-weight : 800;
margin-right: 14px;
}
#custom-file , #custom-edit , #custom-view , #custom-window , #custom-go , #custom-help{
font-size: 12px;
margin-right: 10px;
}
