#clock,#custom-swaync , #battery,#tray , #pulseaudio {
        color:white;
/*      background: linear-gradient(135deg,
                rgba(154,155,155,0.19) 0%,
                rgba(179, 120, 155, 0.05) 40%,
                rgba(79, 110, 215, 0.27) 100%);  */
        border-radius:30px;
        padding-left: 4px;
        padding-right: 7px;
        margin-left:3px;
        font-size:12.5px;
}

#clock:hover,#custom-swaync:hover , #battery:hover , #tray:hover ,#tray > .tray-icon:hover, #pulseaudio:hover{
        font-size: 13.5px;
        background: linear-gradient(135deg,
                rgba(21, 31, 186, 0.90) 0%,
                rgba(23, 39, 117, 0.45) 40%,
                rgba(13, 19, 155, 0.87) 100%);
        border: 1.5px solid rgba(255,255,255,0.11);
        box-shadow: 0 8px 32px 0 rgba(16,18,42,0.17),
                0 0 18px 0 rgba(255,255,255,0.10) inset;
        margin-left: 2px;
        padding-left: 8px;
        padding-right: 8px;
        transition: cubic-bezier(0.19, 1, 0.22, 1);
        transition-duration: 0.5s;
}

#custom-swaync{
        font-size: 17px;
        padding-left: 2px;
        padding-right: 5px;
        margin-left: 2px;
}

#battery{
        padding-left: 5px;
        font-size: 17px;
        padding-right: 8px;
        margin-left: 2px;
}

#tray {
        font-size: 14px;
        padding-left: 2px;
        margin-left: 2px;
}

#custom-swaync:hover , #battery:hover, #tray:hover {
        font-size: 18px;
        padding-right: 8px;
        padding-left: 8px;
}

#tray:hover{
        font-size: 14px;
}

#workspaces {
        background: linear-gradient(129deg,
                rgba(254,255,255,0.21) 0%,
                rgba(179, 220, 255, 0.15) 40%,
                rgba(79, 110, 215, 0.07) 100%);
        border-radius: 20px;
        border: 1px solid rgba(4, 84, 184, 0.5);
        padding: 3px 6px;
}

#workspaces button {
        background: linear-gradient(129deg,
                rgba(254,255,255,0.21) 0%,
                rgba(179, 220, 255, 0.15) 40%,
                rgba(79, 110, 215, 0.07) 100%);
        color: lightblue;
        padding: 0px 10px;
        font-size: 15px;
        border-radius: 15px;
}                                     
#workspaces button:hover {
        background-color: rgba(94 , 134 , 239 , 0.7);
        color: #ffffff;
        border-radius: 40px;
        font-size: 22px;
        padding: 4 11px;
        margin: 0 11px;
        transition: cubic-bezier(0.19, 1, 0.22, 1);
        transition-duration: 0.4s;
        transition: background-color 0.3s ease;
}

#workspaces button.active:hover {
        background-color: rgba(94 , 134 , 239 , 0.8);
        color: #ffffff;
        border-radius: 40px;
        font-size: 24px;
        padding: 4 11px;
        margin: 0 11px;
        transition: cubic-bezier(0.19, 1, 0.22, 1);
        transition-duration: 0.3s;
        transition:linear 0.3s;
}

#workspaces button.active {
        background: linear-gradient(129deg,
                rgba(254,255,255,0.21) 0%,
                rgba(179, 220, 255, 0.15) 40%,
                rgba(79, 110, 215, 0.07) 100%);
        transition: cubic-bezier(0.19, 1, 0.22, 1);
        transition-duration: 1.5s;
        color: black;
        border-radius: 20px;
        font-size: 23px;
        padding-left: 8px;
        margin-left: 8px;
        padding-right: 8px;
        margin-right: 8px;

}
#workspaces button.empty:hover{
        font-size: 10px;
        background-color: rgba(94 , 134 , 239 , 0.4);
        color: gray;
        border-radius: 40px;
        padding: 4 11px;
        margin: 3 11px;
        transition: cubic-bezier(0.19, 1, 0.22, 1);
        transition-duration: 0.3s;
        transition:linear 0.3s;
}
#workspaces button.empty{
        font-size: 10px;
        color: gray;
}
#workspaces button.urgent {
        background-color: rgba(4,84,184,1);
        color: white;
        margin-left: 6px;
        margin-right: 6px;
        padding-left: 6px;
        padding-right: 6px;
        border-radius: 30px;
        transition: cubic-bezier(0.19, 1, 0.22, 1);
        transition-duration: 2s;
}



