
#clock,#custom-swaync , #battery,#tray , #pulseaudio {
        color:white;
        border-radius:30px;
        padding-left: 4px;
        padding-right: 7px;
        margin-left:3px;
        font-size:12.5px;
}

#clock:hover,#custom-swaync:hover , #battery:hover , #tray:hover ,#tray > .tray-icon:hover, #pulseaudio:hover{
        font-size: 13.5px;
        background: linear-gradient(135deg,
                rgba(21, 31, 186, 0.90) 0%,
                rgba(23, 39, 117, 0.45) 40%,
                rgba(13, 19, 155, 0.87) 100%);
        border: 1.5px solid rgba(255,255,255,0.11);
        box-shadow: 0 8px 32px 0 rgba(16,18,42,0.17),
                0 0 18px 0 rgba(255,255,255,0.10) inset;
        margin-left: 2px;
        padding-left: 8px;
        padding-right: 8px;
        transition: cubic-bezier(0.19, 1, 0.22, 1);
        transition-duration: 0.5s;
}

#custom-swaync{
        font-size: 17px;
        padding-left: 2px;
        padding-right: 5px;
        margin-left: 2px;
}

#battery{
        padding-left: 5px;
        font-size: 17px;
        padding-right: 8px;
        margin-left: 2px;
}

#tray {
        font-size: 14px;
        padding-left: 2px;
        margin-left: 2px;
}

#custom-swaync:hover , #battery:hover, #tray:hover {
        font-size: 18px;
        padding-right: 8px;
        padding-left: 8px;
}

#tray:hover{
        font-size: 14px;
}

#workspaces{
      background: linear-gradient(135deg,
rgba(154,155,155,0.29) 0%,
rgba(179, 170, 175, 0.15) 40%,
rgba(79, 110, 215, 0.27) 100%);  

        border-radius: 30px;
        font-size: 15px;
}
#workspaces button{
/* nothing but atoms and some mosquito's in my rooms */
        padding: 3px;
}



















/*      background: linear-gradient(135deg,

rgba(154,155,155,0.19) 0%,
rgba(179, 120, 155, 0.05) 40%,
rgba(79, 110, 215, 0.27) 100%);  */
